node-red/src/flow-4-5-19.txt
[{"id":"a11b196d.ddd6d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bb2461d2.7d93c","type":"ui_switch","z":"a11b196d.ddd6d8","name":"Διακόπτης Θερμοσίφωνα","label":"Θερμοσίφωνας","tooltip":"Πάτησε για αλλαγή","group":"6616590e.e79c28","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":390,"y":80,"wires":[["970371be.71702"]]},{"id":"970371be.71702","type":"mqtt out","z":"a11b196d.ddd6d8","name":"Θερμοσίφωνας","topic":"wc/thermo_switch","qos":"","retain":"true","broker":"4da92890.dfec98","x":640,"y":80,"wires":[]},{"id":"bbff9b2f.f53b48","type":"mqtt in","z":"a11b196d.ddd6d8","name":"","topic":"wc/thermo_switch","qos":"2","broker":"4da92890.dfec98","x":110,"y":80,"wires":[["bb2461d2.7d93c"]]},{"id":"857e1b53.805108","type":"mqtt in","z":"a11b196d.ddd6d8","name":"","topic":"wc/thermo_temp","qos":"2","broker":"4da92890.dfec98","x":100,"y":160,"wires":[["d243a1d9.b239e","6abeb47b.9b8bfc"]]},{"id":"d243a1d9.b239e","type":"ui_gauge","z":"a11b196d.ddd6d8","name":"Θερμοκρασία νερού","group":"6616590e.e79c28","order":4,"width":0,"height":0,"gtype":"gage","title":"Θερμοκρασία νερού","label":"°C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":140,"wires":[]},{"id":"6abeb47b.9b8bfc","type":"ui_chart","z":"a11b196d.ddd6d8","name":"","group":"3e635dce.7e6b12","order":5,"width":0,"height":0,"label":"Θερμοκρασία νερού","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"70","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#e9e849","#f3a202","#e70f4a","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":180,"wires":[[]]},{"id":"2993575.c6602a8","type":"ui_slider","z":"a11b196d.ddd6d8","name":"Κρεβατοκάμαρα","label":"Κρεβατοκάμαρα","tooltip":"","group":"bf6137bb.294738","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"bedroom/light1_switch","min":0,"max":"255","step":"15","x":380,"y":280,"wires":[["d3b30d77.55bdc"]]},{"id":"d3b30d77.55bdc","type":"mqtt out","z":"a11b196d.ddd6d8","name":"Φώς Κρεβατοκάμαρας","topic":"bedroom/light1_switch","qos":"","retain":"true","broker":"4da92890.dfec98","x":640,"y":280,"wires":[]},{"id":"7f045d5c.dd1794","type":"mqtt in","z":"a11b196d.ddd6d8","name":"","topic":"bedroom/light1_switch","qos":"2","broker":"4da92890.dfec98","x":120,"y":280,"wires":[["2993575.c6602a8"]]},{"id":"62f1239d.295abc","type":"ui_slider","z":"a11b196d.ddd6d8","name":"Παιδικό","label":"Παιδικό","tooltip":"","group":"bf6137bb.294738","order":1,"width":"0","height":"0","passthru":false,"outs":"end","topic":"childroom/light2_switch","min":0,"max":"255","step":"15","x":360,"y":340,"wires":[["6937b4ea.1c51dc"]]},{"id":"6937b4ea.1c51dc","type":"mqtt out","z":"a11b196d.ddd6d8","name":"Φώς Παιδικού","topic":"childroom/light2_switch","qos":"","retain":"true","broker":"4da92890.dfec98","x":660,"y":340,"wires":[]},{"id":"a87b1996.ba3378","type":"ui_slider","z":"a11b196d.ddd6d8","name":"Τραπεζαρία","label":"Τραπεζαρία","tooltip":"","group":"bf6137bb.294738","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"trapezaria/light3_switch","min":0,"max":"255","step":"15","x":370,"y":400,"wires":[["b5325d41.5c4d4"]]},{"id":"b5325d41.5c4d4","type":"mqtt out","z":"a11b196d.ddd6d8","name":"Φώς τραπεζαρίας","topic":"trapezaria/light3_switch","qos":"","retain":"true","broker":"4da92890.dfec98","x":650,"y":400,"wires":[]},{"id":"8b589a82.d1aaa8","type":"mqtt in","z":"a11b196d.ddd6d8","name":"Αισθητήρας Νυκτός","topic":"garden/light_sens","qos":"2","broker":"4da92890.dfec98","x":110,"y":500,"wires":[["3157f0e3.ed4fc"]]},{"id":"cb8019e3.2f3d68","type":"ui_gauge","z":"a11b196d.ddd6d8","name":"","group":"a5affda2.764e7","order":3,"width":0,"height":0,"gtype":"donut","title":"Ηλιοφάνεια","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":500,"wires":[]},{"id":"3157f0e3.ed4fc","type":"change","z":"a11b196d.ddd6d8","name":"Μετατροπή σε αριθμό","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":560,"wires":[["6718aae9.092414"]]},{"id":"a7f82e23.a77e3","type":"mqtt out","z":"a11b196d.ddd6d8","name":"Φώτα κήπου","topic":"garden/light_switch","qos":"","retain":"","broker":"4da92890.dfec98","x":670,"y":640,"wires":[]},{"id":"739f36a7.6acd18","type":"ui_slider","z":"a11b196d.ddd6d8","name":"Τιμή σκότους","label":"Ένταση φωτός","tooltip":"Αν πέσει κάτω από την τιμή θα ανάψουν τα φώτα","group":"a5affda2.764e7","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"100","step":"5","x":400,"y":640,"wires":[["bc5c97.03fe9368"]]},{"id":"3f8633d8.82fcbc","type":"function","z":"a11b196d.ddd6d8","name":"Έλεγχος τιμών","func":"var topic = msg.topic;\nvar payload = msg.payload;\nvar gard_intens = flow.get('gard_intens') || 0;\nvar gard_state = flow.get('gard_state') || 'OFF';\nvar state = context.get('state') || false;\n//if (parseInt(payload, 10) < 30)\nif (gard_state == 'OFF')\n   {\n    if (state === true)\n       {\n        msg.payload = \"OFF\";\n        state = false;\n       }\n    else\n        msg.payload = \"\";\n   }\nelse if (gard_state == 'ON')\n   {\n    if (state === false)\n       {\n        msg.payload = \"ON\";\n        state = true;\n       }\n    else\n        msg.payload = \"\";\n   }\nelse if (gard_state == 'AUTO')\n   {\n    if (payload < gard_intens)\n       {\n        if (state === false)\n           {\n            msg.payload = \"ON\";\n            state = true;\n           }\n        else\n            msg.payload = \"\";\n       }\n    else\n       {\n        if (state === true)\n           {        \n            msg.payload = \"OFF\";\n            state = false;\n           }\n        else\n            msg.payload = \"\"; \n       }\n   }\ncontext.set('state', state);\nif (msg.payload !== \"\")\n    return msg;","outputs":1,"noerr":0,"x":520,"y":600,"wires":[["a7f82e23.a77e3"]]},{"id":"2ca68ec2.52b4d2","type":"comment","z":"a11b196d.ddd6d8","name":"Αυτόματο Άναμα του φωτισμού κήπου","info":"φγδφγδφγδφγ","x":170,"y":440,"wires":[]},{"id":"6718aae9.092414","type":"range","z":"a11b196d.ddd6d8","minin":"0","maxin":"1000","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":540,"y":560,"wires":[["cb8019e3.2f3d68","3f8633d8.82fcbc"]]},{"id":"bc5c97.03fe9368","type":"function","z":"a11b196d.ddd6d8","name":"Θέσε τιμή σκότους","func":"var payload = msg.payload;\nvar gard_intens = flow.get('gard_intens') || 0;\ngard_intens = payload;\nflow.set('gard_intens', gard_intens);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":680,"wires":[[]]},{"id":"71c9662d.697d98","type":"ui_dropdown","z":"a11b196d.ddd6d8","name":"","label":"","tooltip":"","place":"Επίλεξε","group":"a5affda2.764e7","order":6,"width":"2","height":"1","passthru":true,"options":[{"label":"","value":"00:00","type":"str"},{"label":"","value":"00:30","type":"str"},{"label":"","value":"01:00","type":"str"},{"label":"","value":"01:30","type":"str"},{"label":"","value":"02:00","type":"str"},{"label":"","value":"02:30","type":"str"},{"label":"","value":"03:00","type":"str"},{"label":"","value":"03:30","type":"str"},{"label":"","value":"04:00","type":"str"},{"label":"","value":"04:30","type":"str"},{"label":"","value":"05:00","type":"str"},{"label":"","value":"05:30","type":"str"},{"label":"","value":"06:00","type":"str"},{"label":"","value":"06:30","type":"str"},{"label":"","value":"07:00","type":"str"},{"label":"","value":"07:30","type":"str"},{"label":"","value":"08:00","type":"str"},{"label":"","value":"08:30","type":"str"},{"label":"","value":"09:00","type":"str"},{"label":"","value":"09:30","type":"str"},{"label":"","value":"10:00","type":"str"},{"label":"","value":"10:30","type":"str"},{"label":"","value":"11:00","type":"str"},{"label":"","value":"11:30","type":"str"},{"label":"","value":"12:00","type":"str"},{"label":"","value":"12:30","type":"str"},{"label":"","value":"13:00","type":"str"},{"label":"","value":"13:30","type":"str"},{"label":"","value":"14:00","type":"str"},{"label":"","value":"14:30","type":"str"},{"label":"","value":"15:00","type":"str"},{"label":"","value":"15:30","type":"str"},{"label":"","value":"16:00","type":"str"},{"label":"","value":"16:30","type":"str"},{"label":"","value":"17:00","type":"str"},{"label":"","value":"17:30","type":"str"},{"label":"","value":"18:00","type":"str"},{"label":"","value":"18:30","type":"str"},{"label":"","value":"19:00","type":"str"},{"label":"","value":"19:30","type":"str"},{"label":"","value":"20:00","type":"str"},{"label":"","value":"20:30","type":"str"},{"label":"","value":"21:00","type":"str"},{"label":"","value":"21:30","type":"str"},{"label":"","value":"22:00","type":"str"},{"label":"","value":"22:30","type":"str"},{"label":"","value":"23:00","type":"str"},{"label":"","value":"23:30","type":"str"}],"payload":"","topic":"","x":540,"y":860,"wires":[[]]},{"id":"95bf7d3.54a018","type":"ui_dropdown","z":"a11b196d.ddd6d8","name":"","label":"","tooltip":"","place":"Select option","group":"a5affda2.764e7","order":7,"width":"2","height":"1","passthru":true,"options":[{"label":"","value":"00:00","type":"str"},{"label":"","value":"00:30","type":"str"},{"label":"","value":"01:00","type":"str"},{"label":"","value":"01:30","type":"str"},{"label":"","value":"02:00","type":"str"},{"label":"","value":"02:30","type":"str"},{"label":"","value":"03:00","type":"str"},{"label":"","value":"03:30","type":"str"},{"label":"","value":"04:00","type":"str"},{"label":"","value":"04:30","type":"str"},{"label":"","value":"05:00","type":"str"},{"label":"","value":"05:30","type":"str"},{"label":"","value":"06:00","type":"str"},{"label":"","value":"06:30","type":"str"},{"label":"","value":"07:00","type":"str"},{"label":"","value":"07:30","type":"str"},{"label":"","value":"08:00","type":"str"},{"label":"","value":"08:30","type":"str"},{"label":"","value":"09:00","type":"str"},{"label":"","value":"09:30","type":"str"},{"label":"","value":"10:00","type":"str"},{"label":"","value":"10:30","type":"str"},{"label":"","value":"11:00","type":"str"},{"label":"","value":"11:30","type":"str"},{"label":"","value":"12:00","type":"str"},{"label":"","value":"12:30","type":"str"},{"label":"","value":"13:00","type":"str"},{"label":"","value":"13:30","type":"str"},{"label":"","value":"14:00","type":"str"},{"label":"","value":"14:30","type":"str"},{"label":"","value":"15:00","type":"str"},{"label":"","value":"15:30","type":"str"},{"label":"","value":"16:00","type":"str"},{"label":"","value":"16:30","type":"str"},{"label":"","value":"17:00","type":"str"},{"label":"","value":"17:30","type":"str"},{"label":"","value":"18:00","type":"str"},{"label":"","value":"18:30","type":"str"},{"label":"","value":"19:00","type":"str"},{"label":"","value":"19:30","type":"str"},{"label":"","value":"20:00","type":"str"},{"label":"","value":"20:30","type":"str"},{"label":"","value":"21:00","type":"str"},{"label":"","value":"21:30","type":"str"},{"label":"","value":"22:00","type":"str"},{"label":"","value":"22:30","type":"str"},{"label":"","value":"23:00","type":"str"},{"label":"","value":"23:30","type":"str"}],"payload":"","topic":"","x":340,"y":840,"wires":[[]]},{"id":"f8f4981e.ec6a38","type":"ui_dropdown","z":"a11b196d.ddd6d8","name":"Λειτουργία κήπου","label":"Λειτουργία","tooltip":"Επιλέξτε (Πάντα σβηστό / Πάντα αναμμένο / Αυτόματο)","place":"AUTO","group":"a5affda2.764e7","order":5,"width":"4","height":"1","passthru":true,"options":[{"label":"","value":"OFF","type":"str"},{"label":"","value":"ON","type":"str"},{"label":"","value":"AUTO","type":"str"}],"payload":"","topic":"","x":390,"y":720,"wires":[["cc150f55.f0034"]]},{"id":"cc150f55.f0034","type":"function","z":"a11b196d.ddd6d8","name":"Αποθήκευση κατάστασης ","func":"var payload = msg.payload;\nvar gard_state = flow.get('gard_state') || 0;\ngard_state = payload;\nflow.set('gard_state', gard_state);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":760,"wires":[[]]},{"id":"fd7e9604.9ad8e8","type":"comment","z":"a11b196d.ddd6d8","name":"--------------------------- Θερμοσίφωνας ------------------------------------------","info":"Ενεργοποιεί ή απενεργοποιεί τον θερμοσίφωνα και εμφανίζει την θερμοκρασία νερού","x":290,"y":20,"wires":[]},{"id":"b06ec004.71f5a","type":"comment","z":"a11b196d.ddd6d8","name":"---------------------------- Φώτα χώρων με dimmer -----------------------------","info":"","x":270,"y":240,"wires":[]},{"id":"9dde7aba.026fc8","type":"mqtt in","z":"a11b196d.ddd6d8","name":"Εξωτερική θερμοκρασία","topic":"extern/temp","qos":"2","broker":"4da92890.dfec98","x":140,"y":1200,"wires":[["1288ad0.4a34353","a192d54d.711968"]]},{"id":"1288ad0.4a34353","type":"ui_gauge","z":"a11b196d.ddd6d8","name":"Εξωτερική θερμοκρασία","group":"cac1bb10.818628","order":2,"width":0,"height":0,"gtype":"gage","title":"Εξωτερική θερμοκρασία","label":"°C","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":1180,"wires":[]},{"id":"e44d90ca.85a91","type":"mqtt in","z":"a11b196d.ddd6d8","name":"Εσωτερική Θερμοκρασία","topic":"intern/temp","qos":"2","broker":"4da92890.dfec98","x":140,"y":1260,"wires":[["388fcd1f.842ec2","a192d54d.711968"]]},{"id":"388fcd1f.842ec2","type":"ui_gauge","z":"a11b196d.ddd6d8","name":"Εσωτερική θερμοκρασία","group":"cac1bb10.818628","order":1,"width":0,"height":0,"gtype":"gage","title":"Εσωτερική θερμοκρασία","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":1260,"wires":[]},{"id":"762141ca.5d972","type":"mqtt in","z":"a11b196d.ddd6d8","name":"Υγρασία","topic":"intern/humid","qos":"2","broker":"4da92890.dfec98","x":130,"y":1320,"wires":[["89bc2746.d4a088","8e85d7a7.255f48"]]},{"id":"89bc2746.d4a088","type":"ui_gauge","z":"a11b196d.ddd6d8","name":"Υγρασία","group":"cac1bb10.818628","order":4,"width":"0","height":"0","gtype":"wave","title":"Υγρασία","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":1300,"wires":[]},{"id":"72818c77.863844","type":"mqtt in","z":"a11b196d.ddd6d8","name":"","topic":"intern/pressure","qos":"2","broker":"4da92890.dfec98","x":130,"y":1380,"wires":[["4c55d848.060e38","6ff76ee.b37789"]]},{"id":"4c55d848.060e38","type":"ui_gauge","z":"a11b196d.ddd6d8","name":"Ατμοσφαιρική Πίεση","group":"cac1bb10.818628","order":3,"width":0,"height":0,"gtype":"gage","title":"Βαρομετρική πίεση","label":"mBar","format":"{{value}}","min":"950","max":"1070","colors":["#b50005","#00e619","#3867ca"],"seg1":"","seg2":"","x":440,"y":1380,"wires":[]},{"id":"a192d54d.711968","type":"ui_chart","z":"a11b196d.ddd6d8","name":"","group":"bd5be443.9e1198","order":1,"width":"0","height":"0","label":"Εξωτερική/Εσωτερική θερμοκρασία","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-12","ymax":"36","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#eeae1e","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":1220,"wires":[[]]},{"id":"6ff76ee.b37789","type":"ui_chart","z":"a11b196d.ddd6d8","name":"","group":"bd5be443.9e1198","order":2,"width":0,"height":0,"label":"Βαρομετρική πίεση","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"950","ymax":"1050","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":1420,"wires":[[]]},{"id":"8e85d7a7.255f48","type":"ui_chart","z":"a11b196d.ddd6d8","name":"","group":"bd5be443.9e1198","order":3,"width":0,"height":0,"label":"Υγρασία","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":1340,"wires":[[]]},{"id":"472ef3bc.0a5fcc","type":"mqtt in","z":"a11b196d.ddd6d8","name":"Σειρήνα","topic":"bell/ringing","qos":"2","broker":"4da92890.dfec98","x":110,"y":1460,"wires":[[]]},{"id":"2905bf8.ea39b4","type":"change","z":"a11b196d.ddd6d8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"True","fromt":"str","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"False","fromt":"str","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1480,"wires":[["cbe918fe.097cf8"]]},{"id":"49b30ea2.9e16e","type":"mqtt out","z":"a11b196d.ddd6d8","name":"","topic":"out/siren_switch","qos":"","retain":"","broker":"4da92890.dfec98","x":610,"y":1500,"wires":[]},{"id":"cbe918fe.097cf8","type":"trigger","z":"a11b196d.ddd6d8","op1":"ON","op2":"OFF","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":460,"y":1580,"wires":[["49b30ea2.9e16e"]]},{"id":"ede0351b.14ce58","type":"ui_slider","z":"a11b196d.ddd6d8","name":"Σκίαση","label":"Σκίαση","tooltip":"","group":"66c626d0.ee4148","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"50","max":"150","step":"10","x":350,"y":1680,"wires":[["476f096.ccd94f8"]]},{"id":"476f096.ccd94f8","type":"mqtt out","z":"a11b196d.ddd6d8","name":"","topic":"garaz/gate","qos":"","retain":"","broker":"4da92890.dfec98","x":580,"y":1700,"wires":[]},{"id":"493171df.42d77","type":"ui_slider","z":"a11b196d.ddd6d8","name":"Γκαράζ","label":"Πόρτα Γκαράζ","tooltip":"","group":"489be17a.44e9d","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"60","max":"180","step":"10","x":330,"y":1800,"wires":[["93937bcb.db84a8"]]},{"id":"93937bcb.db84a8","type":"mqtt out","z":"a11b196d.ddd6d8","name":"","topic":"trapezaria/skiasi","qos":"","retain":"","broker":"4da92890.dfec98","x":600,"y":1800,"wires":[]},{"id":"6bcad4b1.f3b6bc","type":"mqtt in","z":"a11b196d.ddd6d8","name":"Παγίδα κουζίνας","topic":"kitchen/port","qos":"2","broker":"4da92890.dfec98","x":130,"y":1900,"wires":[["8a32f06.7e6531"]]},{"id":"7c9723cf.e52f7c","type":"mqtt out","z":"a11b196d.ddd6d8","name":"Σειρήνα","topic":"out/siren_switch","qos":"","retain":"","broker":"4da92890.dfec98","x":640,"y":1900,"wires":[]},{"id":"b27ac6ae.f4eb28","type":"mqtt in","z":"a11b196d.ddd6d8","name":"Παγίδα κεντρικής εισόδου","topic":"main/port","qos":"2","broker":"4da92890.dfec98","x":110,"y":1980,"wires":[["8a32f06.7e6531"]]},{"id":"8a32f06.7e6531","type":"function","z":"a11b196d.ddd6d8","name":"","func":"var topic = msg.topic;\nvar payload = msg.payload;\nvar a = flow.get('a') || false\nvar b = flow.get('b') || false\nif (msg.topic === \"kitchen/port\")\n  {\n   if (msg.payload === \"True\")\n       a = true;\n   else\n       a = false;\n  }\nif (msg.topic === \"main/port\")\n  {\n   if (msg.payload === \"True\")\n       b = true;\n   else\n       b = false;\n  }\nflow.set('a', a);\nflow.set('b', b);\nif (a | b)\n    msg.payload = \"ON\";\nelse\n    msg.payload = \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1920,"wires":[["7c9723cf.e52f7c"]]},{"id":"a08f9a8a.09f6a8","type":"mqtt in","z":"a11b196d.ddd6d8","name":"Ηλιακό φως","topic":"balkoni/tenta","qos":"2","broker":"4da92890.dfec98","x":100,"y":2160,"wires":[["2667356a.22a882"]]},{"id":"eaf0af4e.b7fc","type":"ui_gauge","z":"a11b196d.ddd6d8","name":"Ηλιακό φως","group":"66c626d0.ee4148","order":3,"width":0,"height":0,"gtype":"donut","title":"Ηλιακό φως","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":2080,"wires":[]},{"id":"574e0bc0.5fd2bc","type":"ui_gauge","z":"a11b196d.ddd6d8","name":"PV_Volts","group":"c88f8d3b.4ca33","order":4,"width":0,"height":0,"gtype":"gage","title":"Volts","label":"V","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":2220,"wires":[]},{"id":"88064ac7.6caf18","type":"mqtt in","z":"a11b196d.ddd6d8","name":"PV_Volts","topic":"taratsa/pv","qos":"2","broker":"4da92890.dfec98","x":90,"y":2260,"wires":[["4ef670a.013d89"]]},{"id":"4ef670a.013d89","type":"change","z":"a11b196d.ddd6d8","name":"Μετατροπή σε αριθμό","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":2380,"wires":[["ef57625b.65cb6"]]},{"id":"ef57625b.65cb6","type":"range","z":"a11b196d.ddd6d8","minin":"0","maxin":"1023","minout":"0","maxout":"4.2","action":"scale","round":false,"property":"payload","name":"","x":410,"y":2380,"wires":[["4275cc0a.1c12e4"]]},{"id":"4275cc0a.1c12e4","type":"function","z":"a11b196d.ddd6d8","name":"Στρογγυλοπ. 1 δεκαδικό","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":2280,"wires":[["574e0bc0.5fd2bc"]]},{"id":"2667356a.22a882","type":"change","z":"a11b196d.ddd6d8","name":"Μετατροπή σε αριθμό","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2160,"wires":[["1f960b68.1296ad"]]},{"id":"1f960b68.1296ad","type":"range","z":"a11b196d.ddd6d8","minin":"0","maxin":"1000","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":530,"y":2160,"wires":[["eaf0af4e.b7fc","e19cca2b.20da58"]]},{"id":"b1c2e98f.924b48","type":"ui_switch","z":"a11b196d.ddd6d8","name":"","label":"Πρίζα 2","tooltip":"","group":"2e134e0a.856b42","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":360,"y":2480,"wires":[["ca8c0e5a.e8bea"]]},{"id":"ca8c0e5a.e8bea","type":"mqtt out","z":"a11b196d.ddd6d8","name":"Πρίζα 2","topic":"bedroom/priza2_switch","qos":"","retain":"","broker":"4da92890.dfec98","x":610,"y":2480,"wires":[]},{"id":"8b3972ef.6ae1","type":"ui_switch","z":"a11b196d.ddd6d8","name":"","label":"Πρίζα 1","tooltip":"","group":"2e134e0a.856b42","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":370,"y":2580,"wires":[["9f10adb2.de3e1"]]},{"id":"9f10adb2.de3e1","type":"mqtt out","z":"a11b196d.ddd6d8","name":"Πρίζα 1","topic":"livingroom/priza1_switch","qos":"","retain":"","broker":"4da92890.dfec98","x":630,"y":2600,"wires":[]},{"id":"a8498f5b.3f6ed","type":"comment","z":"a11b196d.ddd6d8","name":"Σύστημα αυτόματης σκίασης","info":"τεστ\n=====\n**αααα**","x":140,"y":2040,"wires":[]},{"id":"fb43db84.963398","type":"mqtt out","z":"a11b196d.ddd6d8","name":"","topic":"garaz/gate","qos":"","retain":"","broker":"4da92890.dfec98","x":670,"y":2020,"wires":[]},{"id":"e19cca2b.20da58","type":"range","z":"a11b196d.ddd6d8","minin":"0","maxin":"100","minout":"150","maxout":"50","action":"scale","round":false,"property":"payload","name":"","x":480,"y":2020,"wires":[["fb43db84.963398"]]},{"id":"e9c32962.97924","type":"mqtt in","z":"a11b196d.ddd6d8","name":"","topic":"childroom/light2_switch","qos":"2","broker":"4da92890.dfec98","x":120,"y":340,"wires":[["62f1239d.295abc"]]},{"id":"75228d1d.095be4","type":"mqtt in","z":"a11b196d.ddd6d8","name":"","topic":"trapezaria/light3_switch","qos":"2","broker":"4da92890.dfec98","x":120,"y":400,"wires":[["a87b1996.ba3378"]]},{"id":"6616590e.e79c28","type":"ui_group","z":"","name":"Μπάνιο","tab":"e90425ad.d341c8","order":2,"disp":true,"width":"4","collapse":false},{"id":"4da92890.dfec98","type":"mqtt-broker","z":"","name":"Smart_Local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3e635dce.7e6b12","type":"ui_group","z":"","name":"Θερμοκρασίες","tab":"212e8f43.6a2e2","order":2,"disp":true,"width":"6","collapse":false},{"id":"bf6137bb.294738","type":"ui_group","z":"","name":"Εσωτερικά Φώτα","tab":"e90425ad.d341c8","order":1,"disp":true,"width":"5","collapse":false},{"id":"a5affda2.764e7","type":"ui_group","z":"","name":"Κήπος","tab":"e90425ad.d341c8","order":3,"disp":true,"width":"5","collapse":false},{"id":"cac1bb10.818628","type":"ui_group","z":"","name":"Κλίμα","tab":"e90425ad.d341c8","order":4,"disp":true,"width":"4","collapse":false},{"id":"bd5be443.9e1198","type":"ui_group","z":"","name":"Κλίμα","tab":"212e8f43.6a2e2","order":1,"disp":true,"width":"7","collapse":false},{"id":"66c626d0.ee4148","type":"ui_group","z":"","name":"Σκίαση","tab":"e90425ad.d341c8","order":7,"disp":true,"width":"5","collapse":false},{"id":"489be17a.44e9d","type":"ui_group","z":"","name":"Γκαράζ","tab":"e90425ad.d341c8","order":6,"disp":true,"width":"5","collapse":false},{"id":"c88f8d3b.4ca33","type":"ui_group","z":"","name":"Φωτοβολταϊκά","tab":"e90425ad.d341c8","order":8,"disp":true,"width":"5","collapse":false},{"id":"2e134e0a.856b42","type":"ui_group","z":"","name":"Πρίζες","tab":"e90425ad.d341c8","order":5,"disp":true,"width":"5","collapse":false},{"id":"e90425ad.d341c8","type":"ui_tab","z":"","name":"Έξυπνο Σπίτι","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"212e8f43.6a2e2","type":"ui_tab","z":"","name":"Γραφήματα","icon":"dashboard","order":2,"disabled":false,"hidden":false}]